html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100%;
}

#legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
        vertical-align: middle;
      }
	  
#legend2 {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
}
#legend2 h3 {
        margin-top: 0;
}

#legend2 img {
        vertical-align: middle;
      }

#legend3 {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
}
#legend3 h3 {
        margin-top: 0;
}

#legend3 img {
        vertical-align: middle;
      }

.color {
        border: 1px solid;
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

.color1 {
        background: #fdbb84;
      }

.color2 {
        background: #fc8d59;
      }

.color3 {
        background: #ef6548;
      }

.color4 {
        background: #d7301f;
      }

.color5 {
        background: #b30000;
      }

.color6 {
        background: #7f0000;
      }

.color7 {
        background: #fa9fb5;
      }

.color8 {
        background: #f768a1;
      }

.color9 {
        background: #dd3497;
      }

.color10 {
        background: #ae017e;
      }

.color11 {
        background: #7a0177;
      }

.color12 {
        background: #49006a;
      }

.color13 {
        background: black;
}
.purple {
    background: #63C;
}

/* FILTERS */
#filters {
    position: fixed;
    top: 2%;
    left: 2.5%;
    width: 95%;
    background: #f7f7f7;
    height: 56px;
    z-index: 1000;
    border: solid #a2a2a2 1pt;
    border-radius: 7px;
    padding: 0 10px;
}
#filters .filter {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* END FILTERS */