html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.hidden {
    display: none;
}
#map {
    height: 100%;
}

#legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
        vertical-align: middle;
      }
	  
#legend2 {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
}
#legend2 h3 {
        margin-top: 0;
}

#legend2 img {
        vertical-align: middle;
      }

#legend3 {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
}
#legend3 h3 {
        margin-top: 0;
}

#legend3 img {
        vertical-align: middle;
      }
	  
	  #legend4 {
        font-family: Arial, sans-serif;
		font-Size: 14px;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
}
#legend4 h3 {
        margin-top: 0;
}

#legend4 img {
        vertical-align: middle;
      }

.color {
        border: 1px solid;
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

.color1 {
        background: #fdbb84;
      }

.color2 {
        background: #fc8d59;
      }

.color3 {
        background: #ef6548;
      }

.color4 {
        background: #d7301f;
      }

.color5 {
        background: #b30000;
      }

.color6 {
        background: #7f0000;
      }

.color7 {
        background: #fa9fb5;
      }

.color8 {
        background: #f768a1;
      }

.color9 {
        background: #dd3497;
      }

.color10 {
        background: #ae017e;
      }

.color11 {
        background: #7a0177;
      }

.color12 {
        background: #49006a;
      }

.color13 {
        background: black;
}
.purple {
    background: #63C;
}

/* FILTERS */
#filters {
    position: fixed;
    top: 2%;
    left: 2.5%;
    z-index: 1000;
    width: 75%;
    background: #f7f7f7;
    height: 56px;
    border: solid #a2a2a2 1pt;
    border-radius: 7px;
    padding: 0 10px;
}
#filters .filter {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.dark-mode-toggle {
    position: fixed;
    bottom: 3%;
    left: 1%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 5px;
}
.toggle-group .btn-primary {
    background-color: #123a5d;
}
#filters .apply {
    float: right;
    background-color: #bef0b5;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
}
#filters .apply:hover {
    background-color: #b4e6ae;
}
#filters .apply:active {
    background-color: #acdc9e;
}
/* END FILTERS */

/* LODAER */
#loader {
    background: rgba(0, 0, 0, .85);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

.blob {
    width: 2rem;
    height: 2rem;
    background: #E5E5E5;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
}

.blob-2 {
    -webkit-animation: animate-to-2 1.5s infinite;
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    -webkit-animation: animate-to-3 1.5s infinite;
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    -webkit-animation: animate-to-1 1.5s infinite;
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    -webkit-animation: animate-to-4 1.5s infinite;
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    -webkit-animation: animate-to-0 1.5s infinite;
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    -webkit-animation: animate-to-5 1.5s infinite;
    animation: animate-to-5 1.5s infinite;
}

@-webkit-keyframes animate-to-2 {
    25%,
    75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-2 {
    25%,
    75% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@-webkit-keyframes animate-to-3 {
    25%,
    75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-3 {
    25%,
    75% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@-webkit-keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%,
    75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-1 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%,
    75% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@-webkit-keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50%,
    75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-4 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50%,
    75% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@-webkit-keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-0 {
    25% {
        -webkit-transform: translateX(-1.5rem) scale(0.75);
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(-4.5rem) scale(0.6);
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(-7.5rem) scale(0.5);
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@-webkit-keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-5 {
    25% {
        -webkit-transform: translateX(1.5rem) scale(0.75);
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        -webkit-transform: translateX(4.5rem) scale(0.6);
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        -webkit-transform: translateX(7.5rem) scale(0.5);
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        -webkit-transform: translateX(0rem) scale(1);
        transform: translateX(0rem) scale(1);
    }
}
/* END LODAER */